*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}
.section{
    display: flex;
}
.col1{
    background: coral;
    width: 50%;
    height: 300px;
}
.col2{
    background: tomato;
    width: 50%;
    height: 300px;
}
.col3{
    background: aqua;
    width: 50%;
    height: 300px;
}
.col4{
    background: blue;
    width: 50%;
    height: 300px;
}

/* Responsive */
@media screen and (max-width:400px){
    .section{
        display: flex;
        flex-direction: column;
    }
    .col1{
        width: 100%;
    }
    .col2{
        width: 100%;
    }
    .col3{
        width: 100%;
    }
    .col4{
        width: 100%;
    }
}